* {
  max-width: 800px;
  margin: auto;
}

html {
    background-color: rgba(235, 239, 255);
}

body {
  min-width: 500px;
}
  
div {
  border-radius: 5px;
}
  
#header {
  height: 1em;
  width: 100%;
  padding-top: 1.9em;
  padding-bottom: 1em;
  background-color: rgba(154, 154, 247, 0.548);
  position: fixed;
  z-index: 1;
}
  
#footer {
  height: 1em;
  width: 100%;
  padding-top: 1.9em;
  padding-bottom: 1em;
  background-color: rgba(154, 154, 247, 0.548);
  position: fixed;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.left, .right {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.left {
  height: 75em;
  width: 45px;
  background-color: rgba(0, 138, 170, 0.548);
  float: left;
  position: initial;
}
  
.right {
  height: 75em;
  width: 45px;
  background-color: rgba(0, 138, 170, 0.548);
  float: right;
  position: initial;
}
  
.stuff {
  display: inline-block;
  margin-top: 6px;
  margin-left: 55px;
  width: 75%;
  height: 1000px;
  padding: 20px;
  box-sizing: border-box;
}
  
p,li {
  font-family: Verdana, Tahoma, sans-serif;
  line-height: 1.2;
}
  
li {
  margin-inline-start: 1em;
}

h2 {
  padding-top: 1.2em;
}

h4 {
  font-size: 20px;
  padding-top: .5em;
  padding-bottom: .3em;
}

@media (max-width: 768px) {
  .left, .right {
      display: none; /* Hide sidebars on smaller screens */
  }

  .stuff {
      margin: 0;
      width: 100%;
  }

  #header, #footer {
      position: static; /* Remove fixed positioning for smaller screens */
  }
}
